/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1 rem now = 10 pixels*/
  font-size: 62.5%;
}

body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 4.2rem;
}
li,
button,
label,
input,
p {
  font-size: 2rem;
}
h2 {
  font-size: 3.5rem;
}
h3 {
  font-size: 3rem;
  font-weight: 400;
}
h4,
h5 {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
  color: #ff5d73;
  transition: 0.2s all ease-in-out;
}
a:hover,
a:focus {
  border-bottom: #ff5d73 solid 1px;
  font-size: 2.1rem;
}

/* Nav Bar */
#main-head {
  background: #000;
  position: sticky;
  top: 0px;
  z-index: 1;
}
nav {
  display: flex;
  width: 90%;
  min-height: 10vh;
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
#logo {
  color: #fff;
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}
.nav-links {
  display: flex;
  flex: 1 1 30rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

/* Hero Section */
.hero {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("../img/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 90vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#hero-headline {
  font-size: 7.5rem;
}
.hero span {
  color: #ff5d73;
}
.hero p {
  padding-bottom: 2rem;
}
#hero-btn {
  padding: 1rem 3rem;
  background: transparent;
  color: #ff5d73;
  cursor: pointer;
  border: 1px solid #fff;
  transition: 0.5s all ease-in-out;
}
#hero-btn:hover,
#hero-btn:focus {
  color: #fff;
  background: #ff5d73;
  border: 1px solid #ff5d73;
}
