/* Global Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  /* 1 rem now = 10 pixels*/
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
}
h1 {
  font-size: 4.2rem;
}
ul {
  list-style: none;
}

li,
button,
label,
input,
p {
  font-size: 2rem;
}
figcaption {
  font-size: 1.4rem;
}
h2 {
  font-size: 3.8rem;
}
h3 {
  font-size: 3rem;
  font-weight: 400;
}
h4,
h5 {
  font-size: 2.8rem;
}

a {
  text-decoration: none;
  color: #ff5d73;
}
a:hover,
a:focus {
  border-bottom: #ff5d73 solid 1px;
}

.hero-image {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("../img/hero-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
/* Nav Bar */
#main-head {
  background: transparent;
  top: 0px;
  z-index: 1;
}
nav {
  display: flex;
  width: 90%;
  min-height: 10vh;
  margin: auto;
  padding: 2rem;
  align-items: center;
  flex-wrap: wrap;
}
#logo {
  color: #fff;
  flex: 2 1 40rem;
  font-family: "Pattaya", sans-serif;
  font-weight: 400;
}
.nav-links {
  display: flex;
  flex: 1 1 30rem;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}
#register {
  border: 1px solid #fff;
  padding: 0.8rem;
  transition: 0.5s all ease-in-out;
}
#register:hover,
#register:focus {
  color: #fff;
  background: #ff5d73;
  border: 1px solid #ff5d73;
}

/* Hero Section */
.hero {
  min-height: 90vh;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}
#hero-headline {
  font-size: 7.5rem;
}
.hero span {
  color: #ff5d73;
}
.hero p {
  padding-bottom: 2rem;
}
#hero-btn {
  padding: 1rem 4rem;
  background: transparent;
  color: #ff5d73;
  cursor: pointer;
  border: 1px solid #fff;
  border-radius: 1rem;
  transition: 0.5s all ease-in-out;
}
#hero-btn:hover,
#hero-btn:focus {
  color: #fff;
  background: #ff5d73;
  border: 1px solid #ff5d73;
}
#countdown {
  padding-top: 3rem;
}
.arrows {
  width: 6rem;
  height: 7.2rem;
  position: absolute;
  bottom: 3rem;
  animation: opening 1s ease-in-out;
}
.arrows path {
  /* adds border to svg shapes */
  stroke: #ff5d73;
  stroke-width: 0.3rem;
  fill: transparent;
  animation: bounce 1.3s infinite ease-in-out;
  -webkit-animation: bounce 1.3s infinite;
}

/* About Section */
.about {
  min-height: 70vh;
  display: flex;
  flex-direction: row;
  width: 90%;
}
.about img {
  padding: 6rem;
  width: 40%;
  margin: auto;
}
.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.info h2 {
  color: #ff5d73;
}
/* Custom List Bullets */
.about-list li::before {
  content: "\2022";
  color: #ff5d73;
  display: inline-block;
  width: 2rem;
}

/* Speakers Section */
.speakers-head {
  background: #494949;
  min-height: 30vh;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}
.speaker-cards {
  min-height: 70vh;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  text-align: center;
  margin: 2rem 5rem;
  flex: 1 1 40rem;
}
.profile-pic {
  border: 2px solid #ff5d73;
  border-radius: 50%;
  width: 360px;
}

/* Parallax */
.schedule-head {
  background: linear-gradient(rgba(0, 0, 0, 0.8), transparent),
    url("../img/parallax-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
  min-height: 40vh;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 3rem;
}

/* Schedule section */
.cards {
  min-height: 60vh;
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.card {
  text-align: center;
  flex: 1 1 25rem;
  min-height: 40rem;
  margin: 2rem 5rem;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1), 0px 20px 20px rgba(0, 0, 0, 0.1);
}
.card img {
  max-width: 20%;
  margin: 2rem;
  border-radius: 50%;
  border: 2px solid #fff;
}
.card h3,
.card p {
  padding: 1rem;
  line-height: 1.8;
}
.card-icon {
  background: #ff5d73;
}

/* Footer Section */
footer {
  color: #fff;
  background: #494949;
}
.footer-wrapper {
  margin: auto;
  display: flex;
  width: 90%;
  padding: 2rem;
  align-items: center;
  min-height: 10vh;
  flex-wrap: wrap;
}
footer h5 {
  flex: 1 1 40rem;
}
footer ul {
  display: flex;
  flex: 1 1 20rem;
  align-items: center;
  justify-content: space-between;
}

/* Keyframes */
@keyframes bounce {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}
@-webkit-keyframes bounce /*Safari and Chrome*/ {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(20px);
  }
}
